@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    @apply dark:bg-white !important;
  }

  #fp-nav ul li {
    @apply invisible md:visible !important;
  }

  #fp-nav ul li:first-child {
    @apply invisible !important;
  }
}

.splide__arrow {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

@font-face {
  src: url('../styles/fonts/ubuntu/Ubuntu-Regular.ttf') format('ttf');
  src: url('../styles/fonts/ubuntu/Ubuntu-Bold.ttf') format('ttf');
  src: url('../styles/fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('ttf');
}
